@media (min-width: 720px) {

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 20px 100px 150px 250px 1fr 20px;
        grid-template-rows: 150px 250px 75px 75px 150px;
    }

        header {
            grid-row: 1/2;
            grid-column: 2/3;
            background-color: aqua;
            text-align: center;
        }

            header > p {
                margin-top: 60px;
            }

        menu {
            grid-row: 1/2;
            grid-column: 3/6;
            background-color: aquamarine;
            text-align: center;
        }

            menu > p {
                margin-top: 60px;
            }

        .hero {
            grid-row: 2/3;
            grid-column: 2/6;
            background-color: bisque;
            text-align: center;
        }

            .hero > p {
                margin-top: 100px;
            }

        main {
            grid-row: 3/5;
            grid-column: 2/4;
            background-color: brown;
            text-align: center;

        }

            main > p {
                margin-top: 60px;
            }

        .image {
            grid-row: 3/4;
            grid-column: 5/6;
            text-align: center;
            background-color: darkcyan;

        }

            .image > p {
                margin-top: 30px;
            }

        .extra {
            grid-row: 4/5;
            grid-column: 5/6;
            text-align: center;
            background-color: cornflowerblue;

        }

            .extra > p {
                margin-top: 30px;
            }

        .banner {
            grid-row: 5/6;
            grid-column: 2/6;
            text-align: center;
            background-color: coral;
        }
            .banner > p {
                margin-top: 80px;
            }
        
}