@media (max-width: 520px) {

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px
    }

    header {
        grid-row: 1/2;
        grid-column: 2/3;
        background-color: aqua;
        vertical-align: middle;
        position: sticky;
        top: 0px;
        text-align: center;
        
        
        
    }

        header > p {
            margin-top: 80px;
        }

    menu {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        background-color: aquamarine;
        
    }

        menu > p {
            margin-top: 80px;
        }

    .hero {
        grid-row: 3/4;
        grid-column: 2/3;
        text-align: center;
        background-color: bisque;
    }

        .hero > p {
            margin-top: 80px;
        }

    main {
        grid-row: 4/5;
        grid-column: 2/3;
        text-align: center;
        background-color: brown;
    }

        main > p {
            margin-top: 80px;
        }

    .banner {
        grid-row: 5/6;
        grid-column: 2/3;
        text-align: center;
        background-color: coral;
    }

        .banner > p {
            margin-top: 80px;
        }

    .extra {
        grid-row: 6/7;
        grid-column: 2/3;
        text-align: center;
        background-color: cornflowerblue;
    }

        .extra > p {
            margin-top: 80px;
        }

    .image {
        grid-row: 7/8;
        grid-column: 2/3;
        text-align: center;
        background-color: darkcyan;
    }

        .image > p {
            margin-top: 80px;
        }
}