@media (min-width: 520px) and (max-width: 750px) {

    .container {
        display: grid;
        grid-template-columns: 20px 150px 150px 1fr 20px;
        grid-template-rows: 200px 200px 200px 200px 200px ;
        width: 100%;
        
    }

        header {
            grid-row: 1/2;
            grid-column: 2/5;
            background-color: aqua;
            text-align: center;
        }

            header > p {
                margin-top: 80px;
            }

        .hero {
            grid-row: 2/3;
            grid-column: 2/5;
            background-color: bisque;
            text-align: center;
        }

            .hero > p {
                margin-top: 80px;
            }

        main {
            grid-row: 3/4;
            grid-column: 3/5;
            text-align: center;
            background-color: brown;
        }

            main > p {
                margin-top: 80px;
            }

        .banner {
            grid-row: 4/5;
            grid-column: 3/5;
            text-align: center;
            background-color: coral;
        }

            .banner > p {
                margin-top: 80px;
            }

        .extra {
            grid-row: 5/6;
            grid-column: 3/4;
            text-align: center;
            background-color: cornflowerblue;
        }

            .extra > p {
                margin-top: 80px;
            }

        .image {
            grid-row: 5/6;
            grid-column: 4/5;
            text-align: center;
            background-color: darkcyan;
        }

            .image > p {
                margin-top: 80px;
            }

        menu {
            grid-row: 3/6;
            grid-column: 2/3;
            text-align: center;
            background-color: aquamarine;
        }

            menu > p {
                margin-top: 320px;
            }

}